<div class="container-acercade">
    <p-card>
        <h3>Acerca de</h3>
        <!-- Logo y título -->
        <section class="text-center">
            <img alt="Logo" class="w-50" src="img/logo-500x400.png" />
            <h5>{{app[0].name}}</h5>
        </section>

        <!-- Tabla con la información de la app -->
        <section class="tabla-app mt-5">
            <p-table [value]="app" size="small">

                <!-- El cuerpo de la tabla -->
                <ng-template pTemplate="body" let-app>
                    <tr>
                        <!-- Celda del icono para el nombre en clave -->
                        <td>
                            <i class="pi pi-bookmark"></i>
                        </td>
                        <td>Nombre en clave</td>
                        <td class="text-end"><p-tag [value]="app.codename" /></td>
                    </tr>
                    <tr>
                        <!-- Celda del icono para la versión -->
                        <td>
                            <i class="pi pi-box"></i>
                        </td>
                        <td>Versión</td>
                        <td class="text-end"><p-tag [value]="app.version" /></td>
                    </tr>
                    <tr>
                        <!-- Celda del icono para la fecha -->
                        <td>
                            <i class="pi pi-calendar"></i>
                        </td>
                        <td>Fecha de salida</td>
                        <td class="text-end"><p-tag [value]="app.date" /></td>
                    </tr>
                </ng-template>
            </p-table>
        </section>

        <!-- Texto del copyright obtenido del config.json -->
        <section class="mt-5">
            <p>
                {{appData.copyright}}
            </p>
        </section>

        <!-- Info de la caducidad, solo si hay una fecha -->
        @if (this.appCaducidad.fecha) {
        <section class="mt-4">
            <p-message severity="warn" icon="pi pi-calendar">
                <div>
                    Este temario dejará de estar disponible el
                    <span class="fw-bolder">{{this.appCaducidad.fecha | date:'fullDate' }}</span>.
                    Se mostrará un aviso
                    <span class="fw-bolder">{{this.appCaducidad.aviso}}</span>
                    días antes del cierre.
                </div>
            </p-message>
        </section>
        }

        <!-- Texto con el copyright genérico y el año automático -->
        <section class="mt-4">
            <p-message severity="secondary" icon="pi pi-sparkles" pTooltip="Creado con ♥️" tooltipPosition="top"
                showDelay="3000">
                <span>Este material está bajo licencia Creative Commons BY-NC-ND 4.0 Internacional. '{{this.year}}
                </span>
                <a href="https://creativecommons.org/licenses/by-nc-nd/4.0/deed.es" target="_blank">
                    <img src="https://mirrors.creativecommons.org/presskit/icons/cc.svg" height="20">
                    <img src="https://mirrors.creativecommons.org/presskit/icons/by.svg" height="20">
                    <img src="https://mirrors.creativecommons.org/presskit/icons/nc.svg" height="20">
                    <img src="https://mirrors.creativecommons.org/presskit/icons/nd.svg" height="20">
                </a>
            </p-message>
        </section>

    </p-card>
</div>