/* En app.component.css */


/* 1. El contenedor principal se convierte en un layout Flex vertical
      y le decimos que ocupe al menos el 100% de la altura de la pantalla. */
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}

/* 2. Esta es la línea clave. Le decimos al contenido principal
      que "crezca" para ocupar todo el espacio sobrante. */
.main-content {
  flex: 1;
}

.acrilico {
  background-color: color-mix(in srgb, var(--p-primary-500) 30%, transparent);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid var(--p-primary-500, #fff);
}
